body {
  text-align: center;
  font-family: helvetica;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  font-size: 70px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.photo {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

.footer {
  text-align: left;
  color: white;
  background-color: dimgray;
}

.copyright {
  font-size: 11px
}

.nav {
  color: white;
  font-size: 18px;
}
