body {
  text-align: center;
  font-family: helvetica;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  font-size: 70px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

#home {
  background-image: url("../images/the-flatiron-building.png");
}

#nav {
  color: white;
  font-size: 18px;
}
